/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color: #FFFEF8;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

.body-no-scroll {
	overflow-y: hidden;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	margin-top: 100px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
	cursor: pointer;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.loginLink{
	text-decoration:none;
	 color: inherit;
}
/* Login */
.loginContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 60px 0  60px;
}

.loginContainer form {
	display: flex;
	flex-direction: column;

}

.loginContainer label {
	display: block;
	margin: 20px 0 5px 0
}

.loginContainer input {
	width: 379px;
	height: 50px;
	border: unset;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.error {
	color: red;
	font-size: 12px;
	padding: 10px;
	align-self: center;
	margin-top: 10px;
}

.loginButton {
	width: 179px;
	height: 36px;
	border-radius: 60px;
	background-color: #1D6154;
	color: #fff;
	font-weight: 500;
	font-family: 'Syne';
	cursor: pointer;
	margin: 30px 0;
	border: unset;
	align-self: center;
}

.loginButton :hover {
	background-color: #69948c;
}

.passwordRecovery {
	display: flex;
	justify-content: center;
	color: inherit;
}

/* filtres */

.filters {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 30px;

}

.filter-button {
	margin: 10px;
	padding: 10px;
	border: 1px solid;
	border-color: #1D6154;
	border-radius: 60px;
	font-weight: 700;
	align-self: center;
	background-color: #fff;
	color: #1D6154;
	font-family: Syne;
	font-size: 16px;
	cursor: pointer;

}

.filter-button:hover {
	background-color: #1D6154;
	color: #fff;
}

.filter-button.active {
	background-color: #1D6154;
	color: #fff;
}

.projectsContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20px
}

.projectsContainer a {
	margin-top: 10px;
}

/* Topbanner*/
.topBanner {
	display: none;
	width: 100%;
	background-color: #000;
	height: 59px;
	position: absolute;
	left: 0;
	top: 0;
}

.topBannerContainer {
	display: none;
	position: absolute;
	top: 35%;
	left: 50%;
	background-color: #000;
	color: #fff;
}

.topBannerContainer .fa-regular {
	background-color: #000;
}

/* modale*/
#logout{
	text-decoration: none;
	color: inherit;
}
#modalPopup{
	display: none;
	text-decoration: none;
	color: inherit;
}
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	z-index: 1000;
	overflow: hidden;
}

.modal-container {

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	max-width: 630px;
	max-height: 688px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	text-align: center;
	z-index: 9000;
	position: relative;

}

.first-modal {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.close {
	display: flex;
	position: static;
	flex-direction: row-reverse;
	float: right;
	top: 10px;
	right: 10px;
	font-size: 24px;
	cursor: pointer;
	color: #000;
	z-index: 1001;
	margin-bottom: 20px;

}


.modal-container h2 {
	font-family: Work Sans;
	font-weight: 400;
	color: #000;
}

.galleryModal {
	display: grid;
	grid-template-columns: repeat(5, 80px);
	grid-template-rows: repeat(3, 120px);
	padding: 40px 80px 0 80px;
	gap: 10px;
	margin-left: 20px;
}

.figureContainer {
	width: 76.86px;
	height: 102.57px;
	position: relative;
}

.galleryImg {
	width: 100%;
	object-fit: cover;
	align-self: center;
}

.fa-solid {
	display: flex;
	color: #fff;
	height: 20px;
	width: 20px;
	position: absolute;
	right: 2px;
	top: 2px;
	cursor: pointer;

}

.fa-trash-can {
	background-color: #000;
	border-radius: 4px;
	align-items: center;
	justify-content: center;
}

.error-message {
	color: red;
	font-size: 12px;
	padding: 10px;
	align-self: center;
	margin-top: 10px;
}
.successMessage{
	color: green;
	font-size: 12px;
	padding: 10px;
	align-self: center;
	margin-top: 10px;
}


.divider {
	border: none;
	height: 1px;
	width: 70%;
	margin-top: 24px;
	margin-bottom: 24px;
	background-color: rgb(230, 230, 230);
}

.addPhotos {
	margin: 10px;
	padding: 10px;
	border: 1px solid;
	border-color: #fff;
	border-radius: 60px;
	font-weight: 700;
	align-self: center;
	background-color: #1D6154;
	color: #fff;
	font-family: Syne;
	font-size: 14px;
	cursor: pointer;
	width: 50%;
}
.addPhotos:disabled{
	background-color: gray; 
    cursor: not-allowed;     
    opacity: 0.5; 
}
/* nouvelle modale */
.second-modal {
	display: none;
	flex-direction: column;
	flex-wrap: wrap;


}

.pictos {
	display: none;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.fa-arrow-left {
	display: flex;
	position: static;
	flex-direction: row;
	float: left;
	top: 10px;
	right: 10px;
	font-size: 21px;
	cursor: pointer;
	color: #000;
	z-index: 1001;
	margin-bottom: 20px;
}

.formContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 100%;
	align-self: center;

}

.fileContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #E8F1F6;
	width: 100%;
	height: 200px;
	gap: 8px;
	margin-bottom: 20px;
}

.imgPicto {
	height: 30px;
	width: 30px;
	justify-content: center;
	background-color: inherit;
}


.fa-image {
	font-size: 80px;
	color: #B9C5CC;
}

.add {
	width: 176px;
	height: 36px;
	color: #306685;
	background-color: #B9C5CC;
	border-radius: 60px;
	align-self: center;
	align-content: center;
	cursor: pointer;
	border: none;

}

.addText {
	background-color: inherit;
	font-size: 10px;
}

.modal2container {
	padding: 0 80px 0 80px;
	display: flex;
	flex-direction: column;

}

.fileContainer .fa-regular {
	justify-content: center;
	background-color: inherit;
}
.filCont1{
	display: flex;
	flex-direction: column;
	background-color: inherit;
	justify-content: center;
	flex-wrap: wrap;
	gap: 8px;
}
#file{
	display: none;
}
.inputField {
	width: 100%;
	height: 50px;
	border: unset;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}
.imgSelected{
	width: 100%;
	height: 100%;
	object-fit: contain;
	background-color: inherit;
}
.newImg{
	display: none;
	height: 200px;
	justify-content: center;
	flex-direction: column;
	background-color: inherit;
	justify-content: center;
	flex-wrap: wrap;
	gap: 8px;

}
h4 {
	font-size: 14px;
	font-weight: 500;
	align-self: flex-start;
	margin-bottom: 8px;
}
.selectOption{
	width: 100%;
	height: 50px;
	padding-left: 10px;
	border: unset;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>');
	background-repeat: no-repeat;
	background-position: right 20px center;
	background-size: 11px;
	color: #6C6C6C;
	appearance: none;
}

  

/*-------*/
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	margin-bottom: 10px;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}